# Data Preprocessing
This notebook reads the raw data and saves a cleaned version of it.

In [1]:
# Constants

# input and output locations
PATH_RAW = 'data/original/household_power_consumption.txt'
PATH_CLEANED = 'data/data.pckl'

In [2]:
# imports
import pandas as pd

### Raw Data Properties

In [32]:
# read data
data = pd.read_csv(PATH_RAW, sep=';', na_values=['nan', '?'], parse_dates={'Datetime' : ['Date', 'Time']}, 
                   infer_datetime_format=True, index_col='Datetime')
data = data.asfreq('T')
data.head()

,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
Datetime,,,,,,,
2006-12-16 17:24:00,4.216,0.418,234.84,18.4,0.0,1.0,17.0
2006-12-16 17:25:00,5.360,0.436,233.63,23.0,0.0,1.0,16.0
2006-12-16 17:26:00,5.374,0.498,233.29,23.0,0.0,2.0,17.0
2006-12-16 17:27:00,5.388,0.502,233.74,23.0,0.0,1.0,17.0
2006-12-16 17:28:00,3.666,0.528,235.68,15.8,0.0,1.0,17.0

In [35]:
print('The dataset contains {} columns and {} data records.'.format(*reversed(data.shape)))

The dataset contains 7 columns and 2075259 data records.

In [36]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2075259 entries, 2006-12-16 17:24:00 to 2010-11-26 21:02:00
Freq: T
Data columns (total 7 columns):
Global_active_power      float64
Global_reactive_power    float64
Voltage                  float64
Global_intensity         float64
Sub_metering_1           float64
Sub_metering_2           float64
Sub_metering_3           float64
dtypes: float64(7)
memory usage: 126.7 MB

The data contains two columns of type string (object) representing the timestamp. These need to be combined in a datetime object and set as index. According to the dataset description, all timestamps are present, but some might contain nan values.

### Final Output

In [37]:
data.to_pickle(PATH_CLEANED)